################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CaniineSourceRepository.Ui/bin
/CaniineSourceRepository.Ui/obj
/CanineSourceRepository/bin
/CanineSourceRepository/obj
/CanineSourceRepositoryTest/bin
/CanineSourceRepositoryTest/obj
/CanineSourceRepository.Ui/bin
/CanineSourceRepository.Ui/obj
/CanineSourceRepository.Api/bin
/CanineSourceRepository.Api/obj
/CanineSourceRepository.Ui/BpnEngineClient
/CanineSourceRepository.Ui/node_modules
/CanineSourceRepository.Ui/svelte-app/src/BpnEngineClient
