################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CaniineSourceRepository.Ui/bin
/CaniineSourceRepository.Ui/obj
/CanineSourceRepository/bin
/CanineSourceRepository/obj
/CanineSourceRepositoryTest/bin
/CanineSourceRepositoryTest/obj
/CanineSourceRepository.Ui/bin
/CanineSourceRepository.Ui/obj
