<div style="display: grid; grid-template-columns: 150px auto; grid-gap: 15px;">
  <label for="inputRecord">Input</label>
  <select id="inputRecord">
  </select>

  <label for="outputRecord">Output</label>
  <select id="outputRecord">
  </select>
</div>


<div id="record-types-container"></div>


<script>
  const InitializeInputOutput = (node) => {
      const inputOptions = node.RecordTypes.map(type => {
          const selected = node.Input === type.Name ? 'selected' : '';
          return `<option value="${type.Name}" ${selected}>${type.Name}</option>`;
      }).join('');
      document.getElementById("inputRecord").innerHTML = `<option style='color:grey'>Select</option>` + inputOptions;

      const outputOptions = node.RecordTypes.map(type => {
          const selected = node.Output === type.Name ? 'selected' : '';
          return `<option value="${type.Name}" ${selected}>${type.Name}</option>`;
      }).join('');
      document.getElementById("outputRecord").innerHTML = `<option style='color:grey'
            >Select</option>` + outputOptions;



      document.getElementById("inputRecord").onchange = (event) => {
          console.log(event.target.value);
          node.Input = event.target.value;
      };
      document.getElementById("outputRecord").onchange = (vevental) => {
          console.log(event.target.value);
          node.Output = event.target.value;
      };
  }
</script>