
  <div id="node-info">
    <label for="node-name">Name:</label>
    <input type="text" id="node-name">

    <label for="node-desc">Description:</label>
    <textarea id="node-desc"></textarea>
  </div>


<script>
  const InitializeMetadata = (node) => {
      bindElementToNodeProperty('node-name', node, 'Name');
      bindElementToNodeProperty('node-desc', node, 'Description');
  }
</script>

